{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'styles/chekbox.css' %}"> 
        <title>BOOKS</title>
    </head>
<body>
    <div class="create_container">
        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <input
            class="create_input"
            type="text"
            placeholder="Заголовок"
            name="title"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Подзаголовок"
            name="subtitle"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Описание"
            name="description"
            />
            <input
            class="create_input"
            type="FloatField"
            placeholder="Цена"
            name="price"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Жанр"
            name="genre"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Автор"
            name="author"
            />
            <input
            class="create_input"
            type="DateField"
            placeholder="Год выхода"
            name="year"
            />
            <button class="create_button">Добавить</button>
        </form>
    </div>


            <div class="todo_container">    
                {% for book in book_list %}        
                <div class="todo_item
                    {% if book.is_favorite %}
                        marked
                    {% endif %}
                
                ">
                    <div class="todo_item_header">
                        
                        <h4>{{ book.author }}  -  {{ book.title }}   стоимость {{ book.price }}  </h4>
                        
                    </div>
                    <div class="todo_item_footer">
                        <p>{{ book.year }}</p>
                        <div class="action_buttons">
                            {% if book.is_favorite %}
                            <a href="{% url 'unmark-book' book.id %}"><img src="{% static './icons/star_on.png' %}"/></a>
                            {% else %}
                            <a href="{% url 'mark-book' book.id %}"><img src="{% static './icons/star_off.png' %}"/></a>
                            {% endif %}                        
                            <a href="{% url 'delete-book' book.id %}"><img src="{% static './icons/vedro.png' %}"/> </a>
                        </div>
                       
                    </div>    
                    <a href="{% url 'open-book' book.id %}"> подробнее о книге...
                </div>
                {% endfor %}
            </div>



<script src="./script.js"></script>
</body>
</html>